<p>
  Hello <%= @actor.name["und"] %>,
</p>

<p>
  You don't remember your password?
  No worries, just follow
  <a href="<%= @url %>">the reset password link</a>
</p>
<p>
  The link will be valid for the next 48 hours.
</p>
